{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA1pJ16y3cQ6iDY9_l2QF-Uizcgs3B4GM&libraries=places"></script>
    <script src="{% static 'locator/main.js'%}"></script>
    <title>Campus Navigator</title>
</head>
<body class="container-fluid">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd; width:100%;">
        <a class="navbar-brand" href="#">
            <img src="{% static 'locator/images/logo.png'%}" style="width:70px; height:50px; padding-left:20px;">
        </a>
    </nav>
    <div class="row">

    </div>

    <section class="grid gap-0 row-gap-6">
        <div class="herosect" style="background-image: linear-gradient( 180.7deg,  rgba(0,213,255,1) 2.5%, rgba(79,255,255,1) 97.7% ); margin-bottom: 10px;" >
            <h1 class="text-center" id="hrtxt1" style="font-size:160px; font-family:Poppins; align:center">Navigate</h1>
            <h2 class="text-center" id="hrtxt2" style="font-size:84px; font-family:Poppins; align:center">Your Campus With
                Ease</h2>
            <h2 class="text-center" id="hrtxt3" style="font-size:84px; font-family:Poppins; align:center">Discover Buildings
                Effortlessly With Campus Guide</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom: 20px;">
            <div class="col">
                <div class="card h-100">
          <img src="{% static 'locator/images/senate.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Major Buildings</h5>
            <h6>Senate Building</h6>
            <h6>Mosque</h6>
            <h6>Hostel</h6>
          </div>
        </div>
            </div>
            <div class="col">
                <div class="card h-100">
          <img src="{% static 'locator/images/food.jpeg' %}" class="card-img-top" alt="food">
          <div class="card-body">
            <h5 class="card-title">Food</h5>
            <h6>Calabar kitchen-conv ground</h6>
            <h6>Adelabu market</h6>
            <h6>Hostel</h6>
          </div>
        </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'locator/images/pos.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Point of Sales(POS)</h5>
                        <h6>Science theater</h6>
                        <h6>Convocation ground</h6>
                        <h6>Adelabu market</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="map" style="width: 100%; height: 500px;"></div>
        </div>
        <h1 class="text-center" style="font-size:64px; font-family:Poppins;">Get Directions</h1>
        <div class="container">
            <form action="{% url 'map' %}" method="POST">
                {% csrf_token %}
                <div class="row gy-3">
                    <div class="col">
                        <!-- <input aria-label="origin" class="form-control" id="origin" name="origin" placeholder="Origin" type="text" value="{{ origin }}"> -->
                        <select class="form-select form-select-sm" aria-label="Small select example" id="origin" name="origin">
                            {% for location in building %}
                                <option value="{{ location.address }}">{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                       <!-- <input aria-label="destination" class="form-control" id="destination" name="destination" placeholder="Destination" type="text" value="{{ destination }}"> -->
                       <select class="form-select form-select-sm" aria-label="Small select example" id="destination" name="destination">
                            {% for location in building %}
                                <option value="{{ location.address }}">{{ location.name }}</option>
                            {% endfor %}
                       </select>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" id="getDirection"  type="submit">Get Directions</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div id="directions"></div>

</body>
</html>